.appNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
}
.appNav span {
  font-size: 4rem;
  animation: wiggle infinite 4s alternate;
  transform-origin: bottom;
  display: inline-block;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(6deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
.user {
  background-color: var(--color-dark--2);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 7px;
}
.user img {
  border-radius: 50%;
  width: 40px;
}
.user p {
  padding: 0;
  margin: 0;
}
.user button {
  border: none;
  background-color: var(--color-dark--1);
  padding: 0.4rem;
  border-radius: 7px;
  color: white;
}
